@import './colors.scss';
@import './buttons.scss';
@import './nav.scss';
@import './template.scss';
@import './forms.scss';
@import 'table';
@import './home.scss';
@import './dashboad/index';
@import './utils';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.hidden {
    visibility: hidden;
}

.flex {
    display: flex;
}

.grid {
    display: grid
}

body #root {
    a {
        text-decoration: none
    }

    p {
        line-height: 1.5
    }

    ul {
        list-style: none
    }
}

.primary {
    color: $primary;
    &-bg {
        background-color: $primary;
        color: $white;
    }
}

.secondary {
    color: $secondary;
    &-bg {
        background-color: $secondary;
        color: $white;
    }
}

.success {
    color: $success;
    &-bg {
        background-color: $success;
        color: $white;
    }
}

.danger {
    color: $danger;
    &-bg {
        background-color: $danger;
        color: $white;
    }
}

.warning {
    color: $warning;
    &-bg {
        background-color: $warning;
    }
}

.info {
    color: $info;
    &-bg {
        background-color: $info;
    }
}

