@import './colors'

.table-container
    input
        padding: 10px
        font-size: 13px
        outline: none
        border: none
        background-color: $white
        width: 100%
        max-width: 300px

    table.table
        width: 100%
        border-collapse: collapse
        max-width: 100%
        background-color: $white
        margin-top: 20px

        th,
        td
            padding: 0.75rem
            vertical-align: center
            text-align: start
            border-top: 1px solid #e9ecef
            font-size: 11px

            @include breakpoint($breakpoint-mini-desktop, true)
                font-size: 13px

        tbody
            tr
                &:first-child
                    text-transform: uppercase
                    font-size: 15px

                &:hover
                    background-color: #edededee

                td
                    .actions
                        .btn
                            padding: 8px
                            border-radius: 5px
                            cursor: pointer
                            text-transform: capitalize
