.bg-template-container {
    background: $main-2;
    height: 100vh;
    overflow-y: scroll;
    border: 1px solid transparent;

    .flex-container {
        border: 1px solid transparent;
        display: flex;
        width: 80%;
        margin: 100px auto;
        box-shadow: 0px 1px 20px 5px $shadows;
        border-radius: 10px;
        background-color: $white;

        .img-block {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            // background-image: url("../assets/aems3.jpg");
            background-color: $main-3;
            background-size: cover;
            background-position: center;
            backdrop-filter: blur(8px);
            padding: 50px 150px;

            @media screen and (max-width: 1280px) {
                padding: 50px 80px;
            }
        }

        .action-block {
            width: 100%;
            padding: 50px;

            h1 {
                border-bottom: 1px solid $shadows;
                padding: 12px 29px;
                color: $main-2;
                text-align: center;
            }



        }
    }


}